# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
*.log.*

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# User data
user_settings.json

# Meeting notes, recordings, transcriptions and metadata
recordings/
notes/
*/transcript_*.json
*/transcript_*.txt
*/meeting_notes_*.md
*/metadata/
New Folder With Items/

# External git repositories
whisper/
